.NavBar {
    display: flex;
    background-color: slategray;
    height:60px;
    font-size: 24px;
    font-family: monospace;
}

.home {
    text-align: left;
    margin-right: 80%;
    margin-left:5%;
    text-decoration: none;
}

.companies {
    text-align: right;
    margin-left: -360px;
    margin-right: 60px;
    text-decoration: none;
}

.jobs {
    text-align: right;
    margin-right: 60px;
    text-decoration: none;
}

.profile {
    margin-right: 60px;    
    text-decoration: none;
}

.logout {
    text-align: right;
    margin-right: 180px;
    text-decoration: none;  
}

.active {
    color:aquamarine;
}
