.NavBar {
    display: flex;
    background-color: slategray;
    height: 60px;
    font-family: monospace;
    align-items: center;
    flex-shrink: 1;
}

.NavBar-home-link {
    margin-left: 10em;
    width: 20%;
    text-align: left;
}

.NavBar-link {
    margin: 8em;
}

.active {
    color: aquamarine;
}