.NavBar {
    display: flex;
    background-color: bisque;
}

.home {
    text-align: left;
    margin-right: 80%;
}

.companies {
    text-align: right;
}

.jobs {
    text-align: right;
}

.active {
    background-color: aquamarine;
}
